@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

i{
	font-size: 30px;
	cursor: pointer;
}

p{
	font-size: 18px;
	font-weight: 200;
	margin-top: 0px;
    font-weight: 600;
}

h3{
	margin-bottom: 0px;
    margin-top: -3px;
    align-self: center;
    margin-left: 5px;
    font-size: 0.93em;
    font-weight: 500;
}

body {
	list-style: none;
	font-family: 'SUITE-Regular';
	background-color: #f0f0f0;
	margin:0px;
	padding:0px;
}

#chatMain {
    width: 700px;
    background-color: rgb(192, 228, 255);
    height: 82.9vh;
    box-sizing: border-box;
    border: 2px solid black;
    position: relative;
    top: 12%;
    z-index:10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     box-shadow: 3px 3px 3px 3px gray;
}

#chatForm {
	display: block;
    width: 100%;
    height: 48px;
    background-color: white;
    line-height: 47px;
    position: absolute;
    bottom: 0%;
}

#container{
	margin:0px;
	padding:0px;
	width: 100%;
	height:100vh;
	background: url("../image/main/main_middle_background.png") 50% center no-repeat rgb(237, 245, 212);
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: px;
    justify-content: center;
  /*   background-color: rgb(247, 212, 237); */
    position: relative;
        top: 50%;
	left: 50%;
	transform: translate(-54%, -50%);
}

.button-container {
	text-align: center;
	margin-bottom: 20px;
}

.inputContainer {
	display: flex;
	align-items: center;
}

.aa{
	width: 500px;
	height: 500px;
	background-color: red;
	background-image: url(../../cold.jpg);
}

#messageInput {
   width: 65%;
    height: calc(100% - 1px);
    border: none;
    padding-bottom: 0;
    box-sizing: border-box;
    padding:10px;
    line-height: calc(100% - 1px);
}

#chatButton{
	position: relative;
	top:50%;
}

#chatForm > input[type=submit] {
    outline: none;
    border: none;
    background: white;
    color: #0084FF;
    font-size: 17px;
    line-height: 40px;
}

#textSend{
  
    position: absolute;
    right: 0%;
    text-align: center;
    height: 100%;
    background-color: #32465a;
    width: 8%;
}
#leftBox{
	position: relative;
    top: 12%;
	background-color:red;
	height: 500px;
	width: 200px;

	
}
.fa-paper-plane,
.fa-trash-can{
 	margin-top: 0px;
    color: white;
}

.fa-paper-plane:hover, 
.fa-trash-can:hover,
.fa-solid:hover{
    color:rgb(247, 212, 237);
}


#removeButton{
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 18%;
    position: absolute;
    right: 8%;
    width: 8.5%;
    height: 100%;
    z-index: 10;
}

#messages {
	height: 69.2vh;
    overflow-y: auto;
    padding: 10px;
	overflow-y: auto;
	
}

#messages::-webkit-scrollbar {
  width: 10px;
}

#messages::-webkit-scrollbar-track {
  background-color: transparent;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c0c0c0;
  border-radius: 10px;
}

#messages::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

#messageInput:focus {
    outline: none;
} 

.chatHeader {
    margin: 0px;
    padding: 0px;
    height: 50px;
    text-align: center;
    background-color: rgb(252, 243, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.left{
	background-color:red;
}

.let{
	list-style:none;
   	padding-left:0px;
   	margin-top: 5px;
}

.notice{
	background-color: yellow;
	border-radius: 50px;
	text-align: center;
	font-size:15px;
	font-weight:bold;
	text-align: center;
	line-height: 35px;
    position: relative;
    left: 25%;
    width: 50%;
    margin-bottom:15px;
    margin-top:10px;
}

.myMsg {
    text-align: right;
    backgroudn-color:yellow;
    font-size:0.9em;
}

.anotherMsg {
    text-align: left;
    margin-bottom: 5px;
    font-size:0.9em;
}

.msg {
    display: inline-block;
    border-radius: 6px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;

}
.anotherMessage{
	display: flex;
}

.anotherText {
	color: black;
    margin-right: 7px;
    display: flex;
    text-align: end;
    align-items: end;
    margin-bottom: 5px;
    padding-left: 5px;
}
.anotherTopText{
	display: flex;
}
.myCurrentTime{
	color:red;
}
.anotherMsgBottom{
	display: flex;
}
.anotherTexta{
	display: inline-block;
    border-radius: 6px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-left: 7px;
}


}
.anotherCurrentTime{
	color:red;
}

.myMsg > .msg {
  	background-color: yellow;
    color: black;
    margin-left: 7px;
}

.anotherName {
    font-size: 16px;
    display: block;
    font-weight: bold;
        padding-left: 5px;
}

.myName {
   	font-size: 16px;
    display: block;
	margin-right: 3px;
	font-weight: 600;
}


#memberWrap{
    width: 158px;
    position: relative;
    top: 17.4%;
    height:80vh;
   

}

#memberList {
    border-radius: 5px;
    text-align: center;
}

#memberHeader {
    height: 50px;
    font-size: 18px;
    line-height: 40px;
      justify-content: center;
    border: 1px solid #aaaaaa;
    font-weight: 600;
    background-color:white;
   	text-align:center;
   	display: flex;
   	align-items: center;
   	border-top-right-radius: 20px;
}

.myProfile {
	width: 20px; /* 이미지의 너비 설정 */
	height: 20px; /* 이미지의 높이 설정 */
	margin-left: 5px; /* 이미지와 이름 사이의 간격 조정 */
}

.anotherProfile {
	width: 20px; /* 이미지의 너비 설정 */
	height: 20px; /* 이미지의 높이 설정 */
	margin-left: 5px; /* 이미지와 이름 사이의 간격 조정 */
}

.memberEl {
    font-size: 1.0em;
    font-weight: 500;
    padding: 6px 0px 6px 8px;
    font-size: 16px;
    background-color: lightgray;
    background: #2c3e50;
    color: #f5f5f5;
    display: flex;
    border-right: 1px solid #aaaaaa;
}
.memberSelect:nth-child(even) {
	background-color: #f2f2f2;
}

.mySwiper {
    margin-left:0px;
    margin-right:0px;
      width: 400px;
         height: 690px;
    top: 17.5%;
   
  
    }
    
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-size: cover;
         box-shadow: 5px 5px 5px 5px gray;   
    }

   