@charset "UTF-8";


*{
    padding: 0;
	margin: 0;
	border: 0;
	border-collapse:collapse;
	text-decoration:none;
	box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}
html{
	height : 100%;
}
body{
	height : 100%;
}

a{
    text-decoration: none;
    color: #222;
}

/*member sign in*/
.member{
    width: 400px;
    /* border: 1px solid #000; */
    margin: auto; /*중앙 정렬*/
    padding: 0 20px;
    margin-bottom: 20px;    
}

.member .logo{
    /*로고는 이미지라 인라인 블록이니까 마진 오토 안됨 블록요소만 됨 */
    display: block;
    margin :50px auto;
}
.join{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 2.0em;
}
.member .input_control{
    margin :5px 0; /*상하로 좀 띄워주기*/
    
}

.member b{
    /* border: 1px solid #000; */
    display: block; /*수직 정렬하기 */
    margin-bottom: 5px;
}

/*input 중 radio 는 width 가 100%면 안되니까 */
.member input:not(input[type=radio]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}
.member input:placeholder{
	color: #dadada;
}
.member input[type=button],
.member input[type=submit]{
background-color: rgb(192, 228, 255);
color:#fff
}

.member input:focus, .member select:focus{
    border: 1px solid rgb(192, 228, 255);
}

.input_control input:focus {
  border-color: rgb(192, 228, 255); 
}

.input_control.birth div{ /*field 이면서 birth*/
    display: flex;
    gap:10px; /*간격 벌려줄때 공식처럼 사용핟나 */
}

/* .input_control.birth div > * {  gap 사용한거랑 같은 효과를 줌 
    flex:1;
} */

/* .input_control.tel-number div {
    display: flex;
}

.input_control.tel-number div input:nth-child(1){
    flex:2;
}

.input_control.tel-number div input:nth-child(2){
    flex:1;
} */


.placehold-text{
    display: block; /*span 으로 감싸서 크기영역을 블록요소로 만들어ㅜ저야한다*/
    position:relative;
    /* border: 1px solid #000; */
}

.placehold-text:before{ 
    position:absolute; /*before은 inline 요소이기 때문에 span으로 감싸줌 */
    right : 20px;
    top:13px;
    pointer-events: none; /*자체가 가지고 있는 pointer event 를 없애준다 */
}

.userpw{
    
    background-size: 20px;
    background-color: #fff;
}

.userpw-confirm{
    
    background-size: 20px;
    background-color: #fff;
}

.agreement {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.agreement div a:hover{
    text-decoration: underline;
    color:#2db400
}

.agreement div a:after{
    content:'|';
    font-size: 10px;
    color:#bbb;
    margin-right: 5px;
    margin-left: 7px;
    /*살짝 내려가 있기 때문에 위로 올려주기 위해 transform 사용하기*/
    display: inline-block;
    transform: translateY(-1px);

}

.member-footer div a:last-child:after{
    display: none;
}
/* ------- */
	@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');
	
	@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  .navbar__logo{
	margin-top : 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.6em;
   }
   
  .navbar__logo span {
    color: orange;
    padding-left: 0;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
	
  select option[value=""][disabled] {
	display: none;
  }
 
  input[type="submit"]{
 	font-weight:bolder;
 	color: black;
  }
 
  input[type="submit"]:hover,
  input[type="submit"]:active {
  font-weight:bolder;
  color: orange;
  }
  
  /* 유효성 스타일 */
  .user_id_ok{
  font-weight : bolder;
  color: blue;
  display: none;
  }
  .user_id_already{
  font-weight : bolder;
  color: orange;
  display: none;
  }
  .user_nickname_ok{
  font-weight : bolder;
  color: blue;
  display: none;
  }
  .user_nickname_already{
  font-weight : bolder;
  color: orange;
  display: none;
  }
  .user_tel_ok{
  font-weight : bolder;
  color: blue;
  display: none;
  }
  .user_tel_already{
  font-weight : bolder;
  color: orange;
  display: none;
  }
   .user_password_ok{
  font-weight : bolder;
  color: blue;
  display: none;
  }
  .user_password_already{
  font-weight : bolder;
  color: orange;
  display: none;
  }
  .user_password_already2{
  font-weight : bolder;
  color: orange;
  display: none;
  }