<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/WebContent/css/reset.css" media="all">
    <link rel="stylesheet" href="/WebContent/css/footer copy.css">
    <script src="https://kit.fontawesome.com/4d0517937c.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <div class="footer__logo">
            <a href="">🚆<span>T</span>ravel <span>T</span>ogether</a>
        </div>
        <div class="footer__info">
            <p>    
            Copyright &copy; 2023 TravelTogether inc.
            </p>
        </div>
        <div class="footer__github">
            <div>
                <a href="https://github.com/kimchoyool" ><i class="fa-brands fa-github fa-lg"></i> kimchoyool</a>
            </div>
            <div>
                <a href="https://github.com/jongkwon5" ><i class="fa-brands fa-github fa-lg"></i> jongkwon5</a>
            </div>
            <div>
                <a href="https://github.com/Hoonyyyy" ><i class="fa-brands fa-github fa-lg"></i> Hoonyyyy</a>
            </div>
            <div>
                <a href="https://github.com/RaspberryIcecream" ><i class="fa-brands fa-github fa-lg"></i> RaspberryIcecream</a>
            </div>
            <div>
                <a href="https://github.com/Kim-Byungju" ><i class="fa-brands fa-github fa-lg"></i> Kim-Byungju</a>
            </div>
        </div>
    </footer>
</body>
</html>