<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/WebContent/css/reset.css" media="all">
    <link rel="stylesheet" href="/WebContent/css/header.css">
    <!-- <link rel="stylesheet" href="../WebContent/css/bootstrap.min.css" > -->
    <script src="https://kit.fontawesome.com/4d0517937c.js" crossorigin="anonymous"></script>
    <style type="text/css">
       @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
          🚆
          <a href=""><span>T</span>ravel <span style="color: skyblue;">T</span>ogether</a>
        </div>
        <ul class="navbar__menu">
          <li><a href="#">홈</a></li>
          <li><a href="#">축제소개</a></li>
          <li><a href="#">동행게시판</a></li>
        </ul>
        <ul class="navbar__icons">
            <!-- <li><a href="#"><i class="fa-regular fa-bell fa-xl"></i></a></li>  로그인시 노출-->
            <li><a href="#"><i class="fa-regular fa-circle-user fa-xl"></i></a></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </a>
    </nav>
    <script src="/WebContent/js/header.js"></script>
      <!-- <script src="../WebContent/js/jquery-3.6.4.js"></script> -->
      <!-- <script src="../WebContent/js/bootstrap.min.js" ></script> -->
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
</body>
</html>