@charset "UTF-8";
* {
	outline:none;
}
header {
	margin: 0 auto;
}
header a {
	color: black;
	font-weight:bolder;
}
header a:hover{
	color : rgba(0,0,0,0.5);
}

#common {
	margin: 0 auto;
}

footer {
	margin: 0 auto;
}
