@charset "UTF-8";

.container{
    width: 1140px;
    justify-content: center;
    /*border: 0.0625em solid black;*/
    text-align: center;
    margin: 0 auto;

}
@media screen and (max-width:768px){
    .container{
        width: 760px;
        justify-content: center;
        /*border: 0.0625em solid black;*/
        text-align: center;
        margin: 0 auto;
    
    }
    
}
#festivalSearch{
    margin-top: 2em;
    vertical-align: middle;
}
#festivalSearch p{
    font-size: 1.5em;
    vertical-align: middle;
}
#festivalSearch button{
    vertical-align: middle;
    background: none;
    cursor: pointer;
}
#festivalSearch img{
    width: 1.5em;;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 15.5em;
    padding: 0.5em;

    border: 0.15em solid black;
    border-radius: 1em;
    box-shadow: 0 0.1875em 0.375em rgba(0,0,0,0.16), 0 0.1875em 0.375em rgba(0,0,0,0.23);

    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: 0.5em 50%;

    cursor: pointer;
    outline: none;
}
select::-ms-expand{ display: none; }
select:focus{
    border-color: cornflowerblue;
}

.row{
    /*display: grid;
    grid-template-columns: auto(4, minmax(8em, 1fr)) ; 
    grid-template-rows: 13em; 
    gap: 1em 1em;
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col{
    width: 17em;
    height: 15em;
    margin-bottom: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0.0625em 0.375em rgba(0,0,0,0.12), 0 0.0625em 0.125em rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.col:hover {
    box-shadow: 0 0.875em 1.75em rgba(0,0,0,0.25), 0 0.625em 0.625em rgba(0,0,0,0.22);
  }

.top, .middle, .bottom{
    width: 100%;
    border-radius: 0.5em;
    
}
.top{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileImage{
    height: 2.3em;
    border: 0.1em solid black;
    border-radius: 50%;
    margin-right: 0.4em;
    
}
.topInfo p{
    margin: 0;
}
.ageandgender{
    display: flex;
}
.ageandgender div{
    margin: 0 0.2em;
}
.line{
    margin: 0 0.4em;
}
.middle{
    height: 7em;
    position: relative;
    overflow: hidden;
}
.thumnail{
    width: 17em;
    height: 6.95em;
    border-radius: 0.5em;
    object-fit: cover;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.middleHover{
    display:none;
    width: 17em;
    position: absolute;
    bottom: 0;
    background: rgba(236, 236, 236,0.7);
    border-radius: 0.5em;
    padding: 0.3em;

    animation: fadeInUp 0.5s;
    
}
.middleHover div{
    display: inline-block;
}
.middleHover img{
    height: 1em;
    width: 1em;
    display: flex;
}
.state{
    margin-right: 6em;
}
.viewandchat{
    display: flex;
    
}

.view img,p{
    display: inline-block;
}

.bottom{
    height: 4em;
    padding: 0.5em;
    
}
.bottom p{
    display: -webkit-box;
    margin: 0;
    /*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    
}
.listTitle{
    font-weight: 600;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    
}
.listContent{
    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
}

#boardList{
    margin-top: 2em;
}

/* board */
.intro{
    width: unset;
    text-align: center;
    background-image: url();
    background-size: cover;
    background-position: center center;

    border: 0.1em solid black;
}
.intro div{
    height: 21.3125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.intro P{
    margin: 0;
}
.intro p:first-child{
    font-size: 1.25em;
}
.intro p:nth-child(2){
    font-size: 3.125em;
    margin-top: 0.3em;
}

.selectFestival{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    /*align-items: center;
    justify-content: center;*/
    padding: 0.5em;

    border: 0.1em solid black;
    border-radius: 0.5em;
}

.regions{
    width: 150px;
    border-right: 0.1em solid black;
}
.regions td{
    width: 12.5em;
    font-size: 1.25em;
    padding: 0.5em 0;
    cursor: pointer;
}
.regions tr:first-child{
    background-color: cornflowerblue;
    color: white;
}
.festivalByRegion td{
    width: 12.5em;
    font-size: 1.25em;
    padding: 0.3em;
    cursor: pointer;
}

.boardImage{
    margin-top: 2em;

    
}
.boardImageInfo{
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 0.5em;

    border: 0.1em solid black;
}
.boardTitle input{
    width: 100%;
    line-height: 1.25em;
    padding: 1em 1.25em;
    margin-top: 1em;
    border-radius: 0.5em;

    border: 0.1em solid black;
}
.boardContent textarea{
    width: 100%;
    height: 25em;
    overflow: auto;
    line-height: 1.25em;
    padding: 1em 1.25em;
    margin-top: 1em;
    resize: none;
    border-radius: 0.5em;

    border: 0.1em solid black;
}

.buttons{
    padding: 4.375em 0 4.375em;
}
.resetButton, .submitButton{
    width: 15em;
    height: 3em;
    cursor: pointer;
    border-radius: 0.5em;
}
.submitButton{
    background-color: lightblue;
}