<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/WebContent/css/reset.css" media="all">
    <link rel="stylesheet" href="/WebContent/css/footer.css">
    <script src="https://kit.fontawesome.com/4d0517937c.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <!-- <div class="footer__logo">
            <a href="">🚆<span>T</span>ravel <span>T</span>ogether</a>
        </div> -->
        <div class="footer__info">
            <div class="footer__logo">
                <a href="">🚆<span>T</span>ravel <span>T</span>ogether</a>
            </div>
            <p class="companyinfo">
                주식회사 트래블투게더 | 서울 마포구 신촌로 176 | info@TravelTogether.com<br>
            </p>
            <p class="copyright">    
                Copyright &copy; TravelTogether inc. All Rights Reserved.
            </p>
        </div>
        <div class="footer__github">
            <ul>
                <li><a href="https://github.com/kimchoyool" ><i class="fa-brands fa-github fa-lg"></i> kimchoyool</a></li>
                <li><a href="https://github.com/jongkwon5" ><i class="fa-brands fa-github fa-lg"></i> jongkwon5</a></li>
                <li><a href="https://github.com/Hoonyyyy" ><i class="fa-brands fa-github fa-lg"></i> Hoonyyyy</a></li>
                <li><a href="https://github.com/RaspberryIcecream" ><i class="fa-brands fa-github fa-lg"></i> RaspberryIcecream</a></li>
                <li><a href="https://github.com/Kim-Byungju" ><i class="fa-brands fa-github fa-lg"></i> Kim-Byungju</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>